* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  font-family: Arial;
}

.header {
  display: inline-flex;
  align-self: flex-start;
  padding: 32px;
}

.row {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 4px;  
  justify-content: center;
  align-items: center;
}

.column {
  display: inline-flex;
  flex-wrap: wrap;
  flex: 50%;
  max-width: 50%;
  padding: 0 4px;
}


@media screen and (min-width: 601px) {
  .header {
    float: left;
  }
  .column {
    flex: 25%;
    max-width: 25%
  }
}

@media screen and (max-width: 600px) {
 .row {
   width: 100%

  }
  
}